input[type=checkbox],
input[type=radio] {
  	position: relative;
	border: 1px solid #000;
	cursor: pointer;
	line-height: 0;
	margin: 0.1rem 0.5rem 0 0;
	outline: 0;
	padding: 0 !important;
	vertical-align: text-top;
	height: 1.8rem;
	width: 1.8rem;
	border-radius: 50%;
	appearance: none;
  	//opacity: .5;
  	//box-shadow: inset 0px 0px 4px rgba(0,0,0,.2);
  	background: #fff;
}

input[type=checkbox]:hover,
input[type=radio]:hover {
  opacity: 1;
}

input[type=checkbox]:checked:before,
input[type=radio]:checked:before {
  //background-color: #000;
  opacity: 1;
}

input[type=checkbox]:before,
input[type=radio]:before {
	position: absolute;
	content: '';
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
  	height: 1.2rem;
	width: 1.2rem;
	border-radius: 50%;
	background-color: #000;
  	z-index: 2;
  	opacity: 0;
}

.ipt {
	width: 100%;
	padding: 1.4rem 1.8rem;
	border: none;
	background: #fff;
	outline: none;
	border: 1px solid #fff;
	&.medium {
		max-width: 29rem;
	}
	&.are {
		max-width: 100%;
		height: 15rem;
	}
}
.req {
	display: inline-block;
	color: #DB0000;
	//background-color: #E5111F;
	//font-size: 1.2rem;
	line-height: 1;
	//padding: 0.4rem 1rem;
}
.l-check {
	li {
		+ li {
			margin-top: 1rem;
		}
	}
}

.p-form {
	&_ctrl {
		@include pc {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			margin-bottom: 2rem;
			&__lbl {
				width: calc(210/960 * 100%);
				position: relative;
				letter-spacing: 0.05em;
				padding: 1.5rem 0;
			}
			&__ctn {
				width: calc(750/960 * 100%);
				letter-spacing: 0;
				.ipt {
					&.wpcf7-not-valid {
						border-color: #DB0000;
					}
				}
			}
		}
		@include sp {
			margin-bottom: 2.5rem;
			&__lbl {
				margin-bottom: 1.5rem;
			}
		}
	}
	&_privacy {
		margin: 8rem auto 4rem;
		padding: 5rem 8rem 8rem;
		background-color: #fff;
		@include sp {
			margin: 5rem 0 3rem;
			padding: 3rem 2rem 2rem;
		}
		h2 {
			@include fz(18, 36);
			letter-spacing: 0.2em;
			font-weight: 400;
			margin-bottom: 4rem;
			text-align: center;
			@include sp {
				@include fz(16, 25);
				margin-bottom: 2rem;
			}
		}
		&__in {
			height: 22rem;
			padding-right: 1rem;
			overflow-y: auto;
			@include sp {
				height: 38rem;
			}
		}
		h3 {
			@include fz(16, 28);
			margin-top: 2rem;
		}
		p {
			//@include fz(14, 28);
			letter-spacing: 0;
			+ p {
				margin-top: 2rem;
			}
		}
		a {
			display: inline-block;
			color: #2580ba;
			&:hover {
				text-decoration: underline;
			}
		}

		@include sp {
			padding-right: 1rem;
			margin-bottom: 3rem;
			h2 {
				font-size: 1.6rem;
			}
			h3 {
			@include fz(14, 26);
				margin-top: 2rem;
			}
			p {
				@include fz(12, 26);
			}
		}
	}
	&_consent {
		letter-spacing: 0.2em;
		text-align: center;
		margin-bottom: 5rem;
		@include sp {

		}
	}
	&_btn {
		margin: 8rem auto 0;
		.btn {
			font-size: 1.4rem;
			font-weight: 500;
			letter-spacing: 0.4em;
			cursor: pointer;
            margin: 0 auto;
		}
	}
}